<section class="auth-bg">
  <div class="container">
    <div class="row justify-content-center align-items-center w-100 vh-100">
      <div
        class="box col-md-7 d-flex justify-content-evenly align-items-center flex-column p-5 rounded-4"
      >
        <div class="logo w-50">
          <img class="w-100 my-2" src="assets/images/logo.svg" alt="Logo" />
        </div>
        <div class="w-100">
          <h1 class="form-title">Reset  Password</h1>
          <p class="form-regular">Please Enter Your Otp  or Check Your Inbox</p>
          <form [formGroup]="formData" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
              <span class="input-group-text"
                ><i class="fa-light fa-mobile-screen"></i
              ></span>
              <input
                type="text"
                class="form-control"
                placeholder="Email"
                formControlName="email"
                aria-label="email"
                aria-describedby="email"
              />
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text"
                ><i class="fa-light fa-lock"></i
              ></span>
              <input
                type="text"
                class="form-control"
                placeholder="OTP"
                formControlName="seed"
                aria-label="OTP"
                aria-describedby="OTP"
              />
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text"
                ><i class="fa-light fa-lock"></i
              ></span>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                formControlName="password"
                aria-label="password"
                aria-describedby="password"
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text"
                ><i class="fa-light fa-lock"></i
              ></span>
              <input
                type="password"
                class="form-control"
                placeholder="Confirm Password"
                formControlName="confirmPassword"
                aria-label="confirmPassword"
                aria-describedby="confirmPassword"
              />
            </div>
            <button class="button button-primary w-100" type="submit">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
