<section>
  <div class="container">
    <div class="row align-items-center m-2 mt-3">
      <h5 class="col-md-10">Change Password</h5>
      <button (click)="onNoClick()" class="btn text-danger col-md-2">
        <i class="fa-light fa-circle-xmark fa-2x"></i>
      </button>
    </div>
    <form
      [formGroup]="formData"
      (ngSubmit)="onChangePassword()"
      class="row m-4 text-center"
    >
      <div class="d-flex flex-column align-items-center">
        <div class="input-group mb-2">
          <span class="input-group-text"><i class="fa-light fa-lock"></i></span>
          <input
            type="password"
            class="form-control"
            placeholder="Old Password"
            formControlName="oldPassword"
            aria-label="Old Password"
            aria-describedby="Old Password"
            #oldPass
          />
          <span class="input-group-btn">
            <button
              class="btn btn-default reveal"
              (click)="toggleReveal(oldPass, viewIcon1)"
              type="button"
            >
              <i #viewIcon1 class="fa-light fa-eye-slash"></i>
            </button>
          </span>
        </div>
        <div class="input-group mb-2">
          <span class="input-group-text"><i class="fa-light fa-lock"></i></span>
          <input
            type="password"
            class="form-control"
            placeholder="New Password"
            formControlName="newPassword"
            aria-label="New Password"
            aria-describedby="New Password"
            #newPass
          />
          <span class="input-group-btn">
            <button
              class="btn btn-default reveal"
              (click)="toggleReveal(newPass, viewIcon2)"
              type="button"
            >
              <i #viewIcon2 class="fa-light fa-eye-slash"></i>
            </button>
          </span>
        </div>
        <div class="input-group mb-2">
          <span class="input-group-text"><i class="fa-light fa-lock"></i></span>
          <input
            type="password"
            class="form-control"
            placeholder="Confirm Password"
            formControlName="confirmNewPassword"
            aria-label="Confirm password"
            aria-describedby="Confirm password"
            #passConf
          />
          <span class="input-group-btn">
            <button
              class="btn btn-default reveal"
              (click)="toggleReveal(passConf, viewIcon3)"
              type="button"
            >
              <i #viewIcon3 class="fa-light fa-eye-slash"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="w-100">
        <button
          type="submit"
          [disabled]="formData.invalid"
          class="button button-primary w-100"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</section>
